<footer class="footer text-center bg-dark py-3 mt-auto">
    <div class="container text-muted">
        <p>
            &copy; YelpCamp 2020 |
            <a href="/about" class="text-muted">About</a> |
            <a href="https://github.com/shubhammehra4/YelpCamp" class="text-muted">Github</a>
        </p>
    </div>
</footer>