<%- include('partials/header') %> 
    <div class="jumbotron">
        <div class="container">
            <h1>Yelpcamp</h1>
            <p class="lead">The best campgrounds around the world</p>
        </div>
    </div>
<%- include('partials/footer') %> 