<%- include('partials/header') %> 
    <div class="jumbotron">
        <h1>Yelpcamp</h1>
        <p class="lead">The best campgrounds around the world</p>
    </div>
<%- include('partials/footer') %> 