<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="application-name" content="YelpCamp" />
    <meta name="description" content="YelpCamp, a campground reviewing site">
    <meta name="author" content="Shubham Mehra">
    <meta name="keywords" content="YelpCamp, yelp, Campground, Camp, Camping, reviews, web dev">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YelpCamp</title>
    <link rel="icon" href="/assets/tent.png" type="image/icon type">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&amp;display=swap" rel="stylesheet">
</head>

<body>
    <link rel="stylesheet" href="/stylesheets/min/landing.css">
    <div id="landing-header">
        <div class="slide">
            <h1> Welcome to YelpCamp!</h1>
            <a href="/campgrounds" class="btn btn-success">View all Campgrounds</a>
            <% if(!currentUser){ %>
            <a href="/login" class="btn btn-primary">Log In</a>
            <% } %>
        </div>
    </div>

    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</body>

</html>