<%- include('partials/header') %>

    <div class="comntainer">
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="username" required autofocus>
            <input type="password" name="password" placeholder="password" required>
        </form>
    </div>
    
<%- include('partials/footer') %> 