<%- include('partials/header') %>

    <div class="container">
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="username" required autofocus>
            <input type="password" name="password" placeholder="password" required>
            <input type="checkbox" name="remember_me" id="">
            <button>Submit</button>
        </form>
    </div>
    
<%- include('partials/footer') %> 