<%- include('partials/header') %>
<div class="container" id="popup" style="margin-top: 10px;">
    <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
            <a class = "close">X</a>
        </div>
    <% } %>
    <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
            <%= success %>
            <a class = "close">X</a>
        </div>
    <% } %>
</div>
<script>
    $(document).ready(function() {
        setTimeout(function() {
            $('div#popup').slideUp();
        }, 3000);
    });
    $('a.close').click(function () {
        $('div#popup').slideUp();
    })
</script>
<link rel="stylesheet" href="/stylesheets/login.css">
    <div class="container">
        <div class="card p-5">
            <h3 class="text-center">Login</h3>
            <form action="/login" method="post">
                <div class="form-group">
                    <label for="username">
                        <input class="form-control" id="username" type="text" name="username" placeholder=" " required autofocus>
                        <span><i class="fa fa-user-circle"></i> Username</span>
                    </label>
                </div>
                <div class="form-group">
                    <label for="password">
                        <input class="form-control" id="password" type="password" name="password" placeholder=" " required>
                        <span><i class="fa fa-key"></i> Password </span>
                    </label>                    
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-primary">Login</button>
                </div>
            </form>
            <p class="text-center">
                New User ? <a href="/signup">Register Now!</a>
            </p>
        </div>
    </div>
    
<%- include('partials/footer') %> 