<%- include('partials/header') %>
<div class="pull-left" id="popup" style="width: 50%; margin-top: 10px; margin-left: 25%; display: absolute;">
    <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
            <a class = "close"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
        </div>
        <script>
            $(document).ready(function() {
                setTimeout(function() {
                    $('div#popup').slideUp();
                }, 2500);
            });
            $('a.close').click(function () {
                $('div#popup').slideUp();
            })
        </script>
    <% } %>
    <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
            <%= success %>
            <a class = "close"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
        </div>
        <script>
            $(document).ready(function() {
                setTimeout(function() {
                    $('div#popup').slideUp();
                }, 2500);
            });
            $('a.close').click(function () {
                $('div#popup').slideUp();
            })
        </script>
    <% } %>
</div>
<link rel="stylesheet" href="/stylesheets/signup.css">
    <div class="container">
        <div class="card p-5">
            <h3 class="text-center p-5">Sign Up</h3>
            <div class="sign-up-icons">
                <i class="fa fa-google"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-facebook"></i>
            </div>
            <div class="cont">
                <hr class="seprator" style="background-color: transparent !important;">
            </div>
            <form action="/signup" method="post">
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label>Fisrst Name<span class="red">*</span></label>
                            <input type="text" class="form-control" name="firstName" placeholder="First Name" required autofocus>
                        </div>
                        <div class="col">
                            <label>Last Name<span class="red">*</span> </label>
                            <input type="text" class="form-control" name="lastName" placeholder="Last Name" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Username<span class="red">*</span> </label>
                    <input class="form-control" type="text" name="username" placeholder="Username" required />
                </div>
                <div class="form-group">
                    <label>Email </label>
                    <input class="form-control" type="email" name="email" placeholder="Email" />
                </div>
                <div class="form-group">
                    <label>Password<span class="red">*</span> </label>
                    <input class="form-control" type="password" name="password" placeholder="Password" required>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-primary">Sign Up</button>
                </div>
            </form>
            <p class="text-center">
                Already registered? <a href="/login">Login</a>
            </p>
        </div>
    </div>
    <script>
        $(".sign-up-icons").click(function () {
            alert("Sorry! This Feature Underconstruction");
        })
    </script>
<%- include('partials/footer') %> 
