body{
    background-color: grey;
}
div.card{
    border-radius: 10px;
    width: 60%;
    padding: 0 2rem;
    margin: 10rem auto;
}

div.sign-up-icons{
    margin: auto;
}
div.sign-up-icons i{
    display: inline-block;
    margin: 0 20px;
    padding-bottom: 15px;
    transition: all .3s ease-in-out;
    transform: scale(2); 
}
div.sign-up-icons i:hover{
    color: rebeccapurple;
    transform: scale(2.1);
    transition: all .3s ease-in-out;    
}

div.cont{
    /* padding: 10px auto; */
    padding-top: 10px;
    padding-bottom: 30px;
    margin: auto;
    width: 80%;
}
hr.seprator {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: solid lightslategray;
    color:lightslategrey;
    text-align: center;
}
hr.seprator:after {
    content: "or";
    display: inline-block;
    position: relative;
    top: -0.9em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

div.form-group{
    padding: 3px 10px;
}

input.form-control{
    border:none !important;
    outline: none !important;
    box-shadow: none !important;
    border-bottom: 2px solid black !important;
}